svg(width=1000*item['PCT_A'], height='50')
  rect(x=item['AVG_GRD'], y=item['AVG_GRD'], width='50', height='50', fill='green')
svg(width=10*item['AVG_GRD'], height='50')
  rect(x=item['AVG_GRD'], y=item['AVG_GRD'], width='50', height='50', fill='red')
svg(width=10*item['AVG_GRD'], height='50')
  rect(x=item['AVG_GRD'], y=item['AVG_GRD'], width='50', height='50', fill='orange')